.found-codes-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1rem;
  font-size: 0.9rem;
  color: #aaa;
}

.found-codes-indicator-dots {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.found-codes-indicator-dot {
  width: 24px;
  height: 24px;
  background-image: url('/silhouette-de-trou-de-serrure.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.found-codes-indicator-dot[data-found='true'] {
  opacity: 1;
}

.found-codes-indicator-count {
  margin: 0;
  font-variant-numeric: tabular-nums;
}
